* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divForHeader {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  position: sticky;
  top: 0;
}


.headerOfPages {
  display: flex;
  padding: 25px;
  column-gap: 40px;
}

.navBar {
  font-size: 22px;
  text-decoration: none;
  position: relative;
  color: whitesmoke;
  transition: 0.4s ease-in-out;
  font-family: 'Cabin', Sans-serif;
}

.navBar:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  color: rgb(152, 198, 255);
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navBar:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navBar:hover {
  color: rgb(152, 198, 255);
}

.active {
  color: rgb(152, 198, 255);
}

.divForLogo {
  display: flex;
  padding: 25px;
  align-items: center;
  cursor: pointer;
}

.divForLogo p.A {
  color: white;
  font-size: 25px;
}

.divForLogo p.S {
  color: #0087ca;
  font-size: 25px;
}



.moon {
  background-image: url("./Images/moon.png");
  animation: rotationForMoon 2s;
  background-color: black;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  transition: 2s;
}  


@keyframes rotationForMoon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sun {
  background-image: url("./Images/sun.png");
  animation: rotationForSun 2s;
  background-color: black;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  transition: 2s;
}

@keyframes rotationForSun {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


.divForLogoMobile {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divForLogoMobile img {
  cursor: pointer;
}

.logoInMobileVersion {
  display: flex;
}

.divForLogoMobile p.A {
  color: white;
  font-size: 25px;
}

.divForLogoMobile p.S {
  color: #0087ca;
  font-size: 25px;
}


#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 30px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      black, black 20%, 
      white 20%, white 40%, 
      black 40%, black 60%, 
      white 60%, white 80%, 
      black 80%, black 100%
    );
}

#sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;   
    width: 200px;   
    height: 100%;
    background-color: black;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

.headerOfPagesMobile {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  margin: 0 auto;
  row-gap: 20px;
}

.navBarMobile {
  color: whitesmoke;
  position: relative;
  font-size: 22px;
  text-decoration: none;
}

.navBarMobile.active {
  color: rgb(152, 198, 255);
}

@media screen and (max-width: 750px) {

  .navBar {
    display: none;
  }

  #hamburger-menu {
    display: inline;
  }

  .divForLogo {
    visibility: hidden;
  }

}